# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
# This also tells github.com how wide to render tabs
indent_size = 2
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{package.json,*.yml,dist-raw/**}]
# In case we switch to tabs above, these must still be spaces
indent_style = space
