/*
!/*.js
!/*.mjs
!/esm
!/register
!/scripts
!/src
!/tests
!/website
/website/.docusaurus
/website/docs
/website/readme-sources
/website/static
tests/main-realpath/symlink/tsconfig.json
tests/throw error.ts
tests/throw error react tsx.tsx
tests/esm/throw error.ts
tests/legacy-source-map-support-interop/index.ts
tests/main-realpath/symlink/symlink.tsx
