name: Continuous Integration
on:
  # branches pushed by collaborators
  push:
    branches:
      - master
  # pull request from non-collaborators
  pull_request: {}
  # nightly
  schedule:
    - cron:  '0 0 * * *'
jobs:
  lint-build:
    name: "Lint & Build"
    runs-on: ubuntu-latest
    steps:
      # checkout code
      - uses: actions/checkout@v2
      # install node
      - name: Use Node.js 14
        uses: actions/setup-node@v1
        with:
          node-version: 14
      # lint, build, test
      - run: npm install
      - run: npm run lint
      - run: npm run build
      - name: Upload package artifact
        uses: actions/upload-artifact@v1
        with:
          name: ts-node-packed.tgz
          path: tests/ts-node-packed.tgz

  test:
    needs: lint-build
    name: "Test: ${{ matrix.os }}, node ${{ matrix.node }}, TS ${{ matrix.typescript }}"
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, windows]
        # Don't forget to add all new flavors to this list!
        flavor: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        include:
          # Node 10
          - flavor: 1
            node: 10
            nodeFlag: 10
            typescript: latest
            typescriptFlag: latest
          # Node 12.15
          - flavor: 2
            node: 12.15
            nodeFlag: 12_15
            typescript: latest
            typescriptFlag: latest
          # Node 12.16
          # TODO Add comments about why we test 2.15 and 2.16; I think git blame says it's because of an ESM behavioral change that happened at this version number
          # TODO switch to '12' to get latest patch?
          - flavor: 3
            node: 12.16
            nodeFlag: 12_16
            typescript: latest
            typescriptFlag: latest
          # Node 13
          - flavor: 4
            node: 13
            nodeFlag: 13
            typescript: latest
            typescriptFlag: latest
          - flavor: 5
            node: 13
            nodeFlag: 13
            typescript: 2.7
            typescriptFlag: 2_7
          - flavor: 6
            node: 13
            nodeFlag: 13
            typescript: next
            typescriptFlag: next
          # Node 14
          - flavor: 7
            node: 14
            nodeFlag: 14
            typescript: latest
            typescriptFlag: latest
          - flavor: 8
            node: 14
            nodeFlag: 14
            typescript: 2.7
            typescriptFlag: 2_7
          - flavor: 9
            node: 14
            nodeFlag: 14
            typescript: next
            typescriptFlag: next
          # Node 15
          - flavor: 10
            node: 15
            nodeFlag: 15
            typescript: latest
            typescriptFlag: latest
          - flavor: 11
            node: 15
            nodeFlag: 15
            typescript: 2.7
            typescriptFlag: 2_7
          - flavor: 12
            node: 15
            nodeFlag: 15
            typescript: next
            typescriptFlag: next
    steps:
      # checkout code
      - uses: actions/checkout@v2
      # install node
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      # lint, build, test
        # Downgrade from npm 7 to 6 because 7 still seems buggy to me
      - run: npmVersion="$(npm --version)" && [[ "${npmVersion:0:2}" = '7.' ]] && npm install -g npm@6
      - run: npm install
      - run: npm run build-nopack
      - name: Download package artifact
        uses: actions/download-artifact@v1
        with:
          name: ts-node-packed.tgz
          path: tests/
      - run: npm install typescript@${{ matrix.typescript }} --force
      - run: npm run test-cov
      - run: npm run coverage-report
        if: ${{ always() }}
      - name: Codecov
        if: ${{ always() }}
        uses: codecov/codecov-action@v1
        with:
          flags: ${{ matrix.os }},node_${{ matrix.nodeFlag }},typescript_${{ matrix.typescriptFlag }}
      - run: npm run coverage-fix-paths
      - run: npm run coverage-report
      - name: Coveralls
        if: ${{ always() }}
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel: true
  finish:
    needs: test
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
