name: Continuous Integration
on:
  # branches pushed by collaborators
  push:
    branches:
      - master
  # pull request from non-collaborators
  pull_request: {}
  # nightly
  schedule:
    - cron:  '0 0 * * *'
jobs:
  test:
    name: "Test #${{ matrix.flavor }}: node v${{ matrix.node }}, ${{ matrix.typescript }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        flavor: [1, 2, 3, 4, 5, 6, 7]
        include:
          - flavor: 1
            node: 6
            typescript: typescript@latest
          - flavor: 2
            node: 13
            typescript: typescript@latest
          - flavor: 3
            node: 13
            typescript: typescript@2.7
          - flavor: 4
            node: 13
            typescript: typescript@next
          - flavor: 5
            node: 14
            typescript: typescript@latest
          - flavor: 6
            node: 14
            typescript: typescript@2.7
          - flavor: 7
            node: 14
            typescript: typescript@next
    steps:
      # checkout code
      - uses: actions/checkout@v2
      # install node
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      # lint, build, test
      - run: npm install
      - run: npm run lint
      - run: npm run build
      - run: npm rm tslint
      - run: npm install ${{ matrix.typescript }} --force
      - run: npm run test-cov
      - name: Coveralls
        if: ${{ always() }}
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          flag-name: run-${{ matrix.flavor }}
          parallel: true
  finish:
    needs: test
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
